openapi: 3.2.0
info:
  title: Savee Public System API
  version: 1.0.0
  contact:
    name: Savee
    url: https://docs.savee.com
    email: hey@savee.com
  termsOfService: https://savee.com/terms/
  license:
    name: Proprietary — Savee Terms of Service
    url: https://savee.com/terms/
  description: |-
    Read-only REST API exposing a Savee user’s own saves, boards, and home feed, plus search over Savee’s public library.

    Authenticate with either a personal access token (`sv_live_…`) generated in your Savee settings, or an OAuth 2.1 access token (`sv_at_…`) obtained on one of your users’ behalf. OAuth tokens are limited to the scopes the user approved; personal tokens carry all of them.

    **Image format** — `media.thumbnail` and `media.original` for image saves are AVIF by default. Clients that cannot decode AVIF should send the request header `Avif-Fallback: 1` to receive JPG URLs instead. Video originals are always MP4.
servers:
- url: https://api.savee.com
tags:
- name: System
paths:
  /v1/ping:
    get:
      summary: Health check
      tags:
      - System
      responses:
        '200':
          description: Server is up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                required:
                - status
  /v1/openapi.json:
    get:
      summary: Get the OpenAPI spec
      description: The machine-readable OpenAPI 3.1 description of this API. No auth required. Point code
        generators and agents at this URL rather than at a copied snapshot, so they stay accurate as the
        API evolves.
      tags:
      - System
      responses:
        '200':
          description: The OpenAPI 3.1 document describing the v1 surface.
          content:
            application/json:
              schema:
                type: object
                properties: {}
components: {}
